<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TODO APP</title>
  <style>
    .todo-list {
      display: inline-block;
      width: 33%;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>My TODO APP</h1>
    <todo-list category="취업준비"></todo-list>
    <todo-list category="싸피"></todo-list>
    <todo-list category="기타"></todo-list>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    Vue.component('todo-list', {
      template: `
      <div class="todo-list">
      <h2>{{ category }}</h2>
      <input type="text" v-model="newTodo">
      <!-- 누를 때마다 addTodo 함수 실행 -->
      <button v-on:click="addTodo">+</button>
      <ul>
        <!-- TODO: todos 를 반복하며 todo 를 li 태그로 표현한다. -->
        <li v-for="todo in todos" v-bind:key="todo.id">
          <span>{{ todo.content }}</span>
          <!-- TODO: 누를 때 마다 removeTodo 함수를 실행한다. -->
          <button v-on:click="removeTodo(todo.id)">x</button>
        </li>
      </ul>
    </div>
    `,

      // Props로 데이터 전달하기
      props: {
        'category': {
          type: String,
          required: true
        }
        // 'propA': Number, 숫자 값만 허용 (null 은 어떤 타입이든 허용)
        // 'propB': [String, Number], String Number 타입만 허용 
        // 'propC': {
        //   type: String,
        //   required: true,
        // }, 문자열이며 반드시 필요한 값. 
        // 'propD': {
        //   type: Number,
        //   default: 100,
        // }, // 숫자이며 기본값을 가진다.
        // 'propE': {
        //   type: Object,
        //   default: function () {
        //     return { message: 'hello' }
        //   },
        // } 객체/배열의 기본값은 함수 반환형으로 작성 
        // 'propF': {
        //   validator: function (value) {
        //     return value > 10
        //   } // 10 보다는 큰 값이 넘어와야 함 
        // }
      },

      data: function () {
        return {
          todos: [],
          newTodo: '',
        }
      },
      methods: {
        addTodo: function () {
          if (this.newTodo) {
            // todos 에 item만 push하면 됨
            this.todos.push({
              id: new Date().getTime(), // db를 쓰면 db에서 가져와서 사용한다. 
              content: this.newTodo,
              completed: false
            })
            this.newTodo = ''
          }
        },
        removeTodo: function (target_id) {
          // TODO: todo 의 id 값을 인자로 받아 todos에서 해당 id 값을 가진 todo 를 삭제한다.
          this.todos = this.todos.filter(todo => {
            return todo.id !== target_id
          })

        }
      },
    })
  </script>
  <script>
    const app = new Vue({
      el: '#app',
    })
  </script>
</body>

</html>