<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Todo App</title>
  <style>
    html,
    body {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>To Do List</h1>
    <ul>
      <li v-for="todo in todos" v-if="!todo.completed" v-on:click="toggleTodo(todo)">
        <!-- true 면 보여주기 -->
        <!-- v-for 가 높은 우선순위 -->
        <!-- click 하면 자기 자신 값 바꿈 -->
        {{ todo.content }}
        <!-- 1. interpolation 으로 binding -->
      <li v-else @click="toggleTodo(todo)">-------</li>
      </li>
    </ul>

    <!-- 새로운 데이터 넣기 -->
    <input v-model="newTodo" type="text" v-on:keydown.enter="addTodo">

    <!-- 완료된 일 삭제하기 -->
    <footer>
      <button @click="clearCompleted">완료된 일 삭제</button>
    </footer>

  </div>



  <script>


    const app = new Vue({
      el: '#app',
      // data 선언 : 항상 object 로 start
      data: {
        todos: [
          {
            content: '저녁 메뉴 고민하기',
            completed: false,
          },
          {
            content: '사다리 타기',
            completed: true,
          },
          {
            content: '약속의 2시 낮잠자기',
            completed: false,
          },
          {
            content: '야자하기',
            completed: false,
          }
        ],
        newTodo: '',
      },
      methods: {
        toggleTodo: function (todo) {
          todo.completed = !todo.completed
        },

        addTodo: function () {
          // todos 에 item만 push하면 됨
          this.todos.push({
            content: this.newTodo,
            completed: false
          })
          this.newTodo = ''
        },
        clearCompleted: function () {
          // Completed 가 true 인 모든 Todo 를 리스트에서 삭제한다. 
          // ==> Completed 가 false 인 todo 만 남는다. 
          // this.todos = this.todos.filter(todo => {
          //   return !todo.completed
          // )}
          this.todos = this.todos.filter(todo => !todo.completed)
        }
      }
    },
    )
  </script>
</body>

</html>